block navbar
    nav(class="navbar navbar-default navbar-fixed-top navbar-inverse", role="navigation")
          div.container-fluid
          
            div.navbar-header
              button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
                span(class="sr-only") Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
              a(class="navbar-brand" href="#") Nodebook
    
            div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
              ul(class="nav navbar-nav navbar-right")
                //li(class="active")
                  //a(href="#") Home
                //li
                  //a(href="#") Log in